.categorias-container {
  min-height: 100vh;
  background: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categorias-card {
  width: 500px;
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}

.categorias-card h1 {
  text-align: center;
  margin-bottom: 20px;
}

ul {
  padding-left: 20px;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.mensaje {
  color: red;
}