.dashboard-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
}

.reservas {
  background: #f59e0b;
}

.dashboard-card {
  width: 500px;
  background: white;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.dashboard-card h1 {
  margin-bottom: 10px;
}

.dashboard-card p {
  margin-bottom: 25px;
  color: #374151;
}

.menu-opciones {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  display: block;
  text-decoration: none;
  padding: 14px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.inventario {
  background: #2563eb;
}

.usuarios {
  background: #16a34a;
}

.categorias {
  background: #0f766e;
}

.profesionales {
  background: #0891b2;
}

.pagos {
  background: #7c3aed;
}

.salir {
  background: #dc2626;
}
